In [1]:
import numpy as np
import pandas as pd

data = pd.read_pickle('backdata_1m.pkl')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277500 entries, 0 to 277499
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   stream     277500 non-null  object
 1   eventType  277500 non-null  object
 2   eventTime  277500 non-null  int64
 3   startTime  277500 non-null  int64
 4   closeTime  277500 non-null  int64
 5   interval   277500 non-null  object
 6   open       277500 non-null  float64
 7   high       277500 non-null  float64
 8   low        277500 non-null  float64
 9   close      277500 non-null  float64
 10  volume     277500 non-null  float64
dtypes: float64(5), int64(3), object(3)
memory usage: 23.3+ MB

In [3]:
dataPart = data.head()

In [5]:
dataPart[:-1]

,stream,eventType,eventTime,startTime,closeTime,interval,open,high,low,close,volume
0,kline1m,kline,1675612799283,1658960760000,1658960819999,1m,22807.4,22815.9,22800.6,22815.9,14.829
1,kline1m,kline,1675612799283,1658960820000,1658960879999,1m,22807.3,23278.0,22805.0,22824.3,49.001
2,kline1m,kline,1675612799283,1658960880000,1658960939999,1m,22824.0,23278.0,22811.2,22811.2,159.721
3,kline1m,kline,1675612799283,1658960940000,1658960999999,1m,22820.4,23278.0,22820.4,22836.3,115.285

In [9]:
dataPart.shape[0]

5

In [26]:
dataPart = dataPart[-4:]
dataPart.reset_index(drop=True, inplace=True)

In [27]:
dataPart

,stream,eventType,eventTime,startTime,closeTime,interval,open,high,low,close,volume
0,kline1m,kline,1675612799283,1658960820000,1658960879999,1m,22807.3,23278.0,22805.0,22824.3,49.001
1,kline1m,kline,1675612799283,1658960880000,1658960939999,1m,22824.0,23278.0,22811.2,22811.2,159.721
2,kline1m,kline,1675612799283,1658960940000,1658960999999,1m,22820.4,23278.0,22820.4,22836.3,115.285
3,kline1m,kline,1675612799283,1658961000000,1658961059999,1m,22836.3,22848.1,22822.6,22822.6,78.415

In [28]:
dataPart[-1]

,stream,eventType,eventTime,startTime,closeTime,interval,open,high,low,close,volume
0,kline1m,kline,1675612799283,1658960820000,1658960879999,1m,22807.3,23278.0,22805.0,22824.3,49.001
1,kline1m,kline,1675612799283,1658960880000,1658960939999,1m,22824.0,23278.0,22811.2,22811.2,159.721
2,kline1m,kline,1675612799283,1658960940000,1658960999999,1m,22820.4,23278.0,22820.4,22836.3,115.285
3,kline1m,kline,1675612799283,1658961000000,1658961059999,1m,22836.3,22848.1,22822.6,22822.6,78.415